<div class="row">
  <div class="col">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Cliente</th>
          <th>Nombre</th>
          <th>¿Compró?</th>
          <th>Tarjeta de Credito</th>
          <th>Monto</th>
          <th>Fecha</th>
          <!-- <th></th>
          <th></th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let compra of arrayCompras[0]">
          <th>{{compra.clientId}}</th>
          <th>{{compra.nombre}}</th>
          <th>{{compra.compro == true ? 'Si' : 'No'}}</th>
          <th>{{compra.tdc}}</th>
          <th>{{compra.monto}}</th>
          <th>{{compra.date}}</th>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<div style="text-align: center;">
  <h1>
    Welcome to {{title}}
  </h1>
  <input type="text" #date>
  <!-- <button (click)="getAllCompras()">Todas las compras</button> -->
  <button (click)="getCompra(date.value)">Ver compras</button>
</div>

