<div class="jumbotron">
  <div class="container h-100 d-flex align-items-center">
    <ngx-spinner
      bdColor="rgba(51,51,51,0.8)"
      size="medium"
      color="#fff"
      type="ball-scale-multiple"
    >
      <p style="font-size: 20px; color: white;">Cargando...</p>
    </ngx-spinner>
    <div style="margin-top: 4%; float: none; text-align: center;" class="mx-auto">
      <h2>Compras por cliente</h2>
    </div>
  </div>
</div>

<div class="container">
  <div class="row" style="margin-top: 2%;">
    <div class="col">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Cliente</th>
            <th>Nombre</th>
            <th>¿Compró?</th>
            <th>Tarjeta de Credito</th>
            <th>Monto</th>
            <th>Fecha</th>
            <!-- <th></th>
                      <th></th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="
          let compra of arrayCliente[0]
            | paginate: { itemsPerPage: 5, currentPage: pageActual }
        "
          >
            <th>{{ compra.clientId }}</th>
            <th>{{ compra.nombre }}</th>
            <th>{{ compra.compro == true ? "Si" : "No" }}</th>
            <th>{{ compra.tdc }}</th>
            <th>{{ compra.monto }}</th>
            <th>{{ compra.date | date: "yyyy-MM-dd HH:mm" }}</th>
          </tr>
        </tbody>
      </table>
      <div class="mx-auto" style="float: none; text-align: center;">
        <button class="btn btn-outline-primary" type="button" [routerLink]="['/']" routerLinkActive="router-link-active" >Regresar</button>
      </div>
    </div>
  </div>
</div>
